@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
  font-size: 1.2em;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}
section {
  padding: 5vh 0;
}
a:link {
  text-decoration: none;
  display: inline-block;
}
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
    width: 100%;
    height: auto;
  border: 0;
}
h2{ margin: 0;}
p {
  margin: 0;
}
button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button:hover {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button:focus {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input {
  border: none;
}
.tab {
  display: none;
}
.pc {
  display: none;
}
#header{display: flex;height: 4.8rem;padding:5% 5% 0;}
#header h1{width:4rem;height:4rem;margin: 0; }
#header h1 img{width: 100%;height: auto;}

  .burger-btn {
    display: block;
    height: 4rem;
    position: relative;
    width: 4rem;
    z-index: 3;
    background-color: transparent;
    border: none;
      left: calc(100% - (5% + 4rem));
  }
  
  .bar {
    background-color: #fff;
    display: block;
    height: 1px;
    position: absolute;
    transform: translateX(-50%);
    width: 3rem;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%,10px) rotate(45deg);
    transition: transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .3s;
  }
  /* スクロール制御 */
  .noscroll{
    overflow: hidden;
  }
  
  /* 以下、ハンバーガーメニュー */
  .nav-wrapper {
    visibility: hidden;
    height: 30vh;
    position: fixed;
    top: 0;
    width: 40vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
    right: 0;
  }
  
  .header-nav {
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .nav-list {
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .nav-item {
        line-height: 4;
  }
  .nav-item a{
        font-size: 2rem;
    color: #fff;
    letter-spacing: 3px;
  }
  
  /* メニューオープン時 */
  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }
#main{}
#main #top{}
#main #top .top-container{position: relative;}
#main #top .top-container .top-bg{  width:35vh;
  height: 35vh;
    background-color: #f09819;
  animation: Topbgchangecolor 20s linear infinite;
  animation: Topbgrotate 30s ease 0s infinite;
margin: 0 auto;
}
@keyframes Topbgchangecolor {
  0%,100%{
    background-color: #f09819;
  }
  50%{
    background-color: #ff5858;
  }
}
@keyframes Topbgrotate {  
    
0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}
14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
}
28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
}
42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
}
56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
}
70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
}
84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}
    
}
#main #top .top-container h2{    position: absolute;
    top: 50%;
    margin: 0;
    width: 70vw;
    height: auto;
    left: 15vw;}
#main #work{}
#main #work h2{    font-size: 2.4rem;
    text-align: center;
    color: #fff;
  letter-spacing: 3px;
}
#main #work .work_list{display: flex;
    width: 40vw;
    margin: 0 auto;}
#main #work .work_list li{width: 20vw;
    text-align: center;}
#main #work .work_list li a{color: #fff;
    width: 100%;
    font-size: 2rem;
  position: relative;
    margin-bottom: 0.5rem;
}
#main #work .work_list li a:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width:10vw;/*線の長さ*/
  height:1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color:#fff;/*線の色*/
}
#main #work h3{}
#main #work .web_list_nav{}
#main #work .web_list_nav .web_list_ul{}
#main #work .web_list_nav .web_list_ul .web_list_li{}
#main #work .web_list_nav .web_list_ul .web_list_li a{}
#main #work .web_list_nav .web_list_ul .web_list_li a img{}
.scr
#main #work .dtp_list_nav{}
#main #work .dtp_list_nav .dtp_list_ul{}
#main #work .dtp_list_nav .dtp_list_ul .dtp_list_li{}
#main #work .dtp_list_nav .dtp_list_ul .dtp_list_li a{}
#main #work .dtp_list_nav .dtp_list_ul .dtp_list_li a img{}
/*タブレット*/
@media screen and (min-width: 600px) {
  .sp {
    display: none;
  }
  .tab {
    display: block;
  }
  .pc {
    display: none;
  }
  html {
   
  }
  body {
   
  }
}
/*PC*/
@media screen and (min-width: 1025px) {
  .sp {
    display: none;
  }
  .tab {
    display: block;
  }
  .pc {
    display: block;
  }
  html {
  }
  boby{}

    }
