@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
  font-size: 1.2em;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}
section {
  
}
a:link {
  text-decoration: none;
  display: inline-block;
}
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
    width: 100%;
    height: auto;
  border: 0;
}
p {
  margin: 0;
}
button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button:hover {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button:focus {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input {
  border: none;
}
.tab {
  display: none;
}
.pc {
  display: none;
}
#header{display: flex;height: 4.8rem;padding:5% 5% 0;}
#header h1{width:4rem;height:4rem;margin: 0; }
#header h1 img{width: 100%;height: auto;}

  .burger-btn {
    display: block;
    height: 4rem;
    position: relative;
    width: 4rem;
    z-index: 3;
    background-color: transparent;
    border: none;
      left: calc(100% - (5% + 4rem));
  }
  
  .bar {
    background-color: #fff;
    display: block;
    height: 1px;
    position: absolute;
    transform: translateX(-50%);
    width: 3rem;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%,10px) rotate(45deg);
    transition: transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .3s;
  }
  /* スクロール制御 */
  .noscroll{
    overflow: hidden;
  }
  
  /* 以下、ハンバーガーメニュー */
  .nav-wrapper {
    visibility: hidden;
    height: 50vh;
    position: fixed;
    top: 0;
    width: 50vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
    right: 0;
  }
  
  .header-nav {
    background-color: #1b1310;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .nav-list {
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .nav-item {
    margin-bottom: 40px;
    margin-right: 0;
  }
  
  /* メニューオープン時 */
  .nav-wrapper.fade {
    opacity: 1;
    visibility: visible;
  }
#main{}
#main #top{}
#main #top .top-container{position: relative;}
#main #top .top-container .top-bg{  width:40vh;/*横幅*/
  height: 40vh;/*縦幅*/
    background-color: #f09819;
  animation: topbg-change-color 20s linear infinite;
  animation: topbgrotate 30s ease 0s infinite;/*アニメーションの設定*/}
@keyframes topbg-change-color {
  0%,100%{
    background-color: #f09819;
  }
  50%{
    background-color: #ff5858;
  }
}
@keyframes topbgrotate {  
    
0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}
14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
}
28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
}
42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
}
56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
}
70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
}
84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}
    
}
#main #top .top-container h2{position: absolute;top:50%;
  left:50%;}

/*タブレット*/
@media screen and (min-width: 600px) {
  .sp {
    display: none;
  }
  .tab {
    display: block;
  }
  .pc {
    display: none;
  }
  html {
   
  }
  body {
   
  }
}
/*PC*/
@media screen and (min-width: 1025px) {
  .sp {
    display: none;
  }
  .tab {
    display: block;
  }
  .pc {
    display: block;
  }
  html {
  }
  boby{}

    }
